<header class="header-compact">
    <nav class="header-compact-nav">
        {% for item in site.data.menus.header-logo %}
            <a class="header-compact-logo"  href="{{ site.baseurl }}{{ item.url }}" title="Go to {{ item.title }}">
                <img src="{{ site.baseurl }}{{ item.logo-image }}" alt="{{ item.title }}" />
            </a>
        {% endfor %}
        {% for item in site.data.menus.header %}
            <a class="header-compact-link" href="{{ site.baseurl }}{{ item.url }}" title="Go to {{ item.title }}">
                {{ item.title }}
            </a>
        {% endfor %}
        <div class="header-compact-nav-mobile">
            <a class="header-compact-nav-icon" id="mobile-nav-icon">
                <span class="header-compact-nav-icon-line line-1"></span>
                <span class="header-compact-nav-icon-line line-2"></span>
                <span class="header-compact-nav-icon-line line-3"></span>
            </a>
            <div class="header-compact-nav-mobile-links">
                {% for item in site.data.menus.header %}
                    <a class="header-compact-nav-mobile-link" href="{{ site.baseurl }}{{ item.url }}" title="Go to {{ item.title }}">
                        {{ item.title }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </nav>
</header>
