<section class="list-partial">
  <script src="https://widgets.mindbodyonline.com/javascripts/healcode.js" type="text/javascript"></script>
  <div class="list-partial-container">
    <healcode-widget data-type="schedules" data-widget-partner="object" data-widget-id="f21449167e55" data-widget-version="1" ></healcode-widget>
  </div>
  <div class="list-partial-container">
    <healcode-widget data-type="schedules" data-widget-partner="object" data-widget-id="f21452507e55" data-widget-version="1" ></healcode-widget>
  </div>
</section>
