{% if page.mixed-media-banner.background-image %}
    <section class="mixed-media-banner">
        <img src="{{ site.baseurl }}{{ page.mixed-media-banner.background-image }}" alt="" class="mixed-media-banner-bg-image" />
    {% else %}
    <section class="mixed-media-banner white-bg-container">
        <img src="{{ site.baseurl }}{{ site.default_white_image }}" alt="" class="mixed-media-banner-bg-image white-bg" />
    {% endif %}

    <div class="mixed-media-banner-cards">
        {% for card in page.mixed-media-banner.cards %}
            <div class="mixed-media-banner-card">
                {% if card.image %}
                    <div class="mixed-media-banner-card-image-wrapper">
                        <img src="{{ site.baseurl }}{{ card.image }}" alt="" />
                    </div>
                {% elsif card.icon %}
                    <div class="mixed-media-banner-card-icon-wrapper">
                        <img src="{{ site.baseurl }}{{ card.icon }}" alt="" />
                    </div>
                {% endif %}
                <div class="mixed-media-banner-content">
                    {% if card.title %}
                        <h3>{{ card.title }}</h3>
                    {% endif %}
                    {% if card.description %}
                        <p>{{ card.description }}</p>
                    {% endif %}
                    {% if card.cta.text %}
    
                        {% if card.cta.link %}
                        <a href="{{ site.baseurl }}{{ card.cta.link  }}">
                            <button>{{ card.cta.text  }}</button>
                        </a>
                        {% elsif card.cta.email %}
                        <a href="mailto:{{ card.cta.email  }}">
                            <button>{{ card.cta.text  }}</button>
                        </a>
                        {% endif %}

                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {% if page.mixed-media-banner.footnote %}
            <div class="mixed-media-banner-footnote">
                <em>{{ page.mixed-media-banner.footnote }}</em>
                {% if page.mixed-media-banner.cta.text %}

                    {% if page.mixed-media-banner.cta.link %}
                        <a href="{{ site.baseurl }}{{ page.mixed-media-banner.cta.link  }}">
                            <button>{{ page.mixed-media-banner.cta.text  }}</button>
                        </a>
                    {% elsif page.mixed-media-banner.cta.email %}
                        <a href="mailto:{{ page.mixed-media-banner.cta.email  }}">
                            <button>{{ page.mixed-media-banner.cta.text  }}</button>
                        </a>
                    {% endif %}

                {% endif %}
            </div>
        {% elsif page.mixed-media-banner.cta.text %}
            <div class="mixed-media-banner-footnote">

                {% if page.mixed-media-banner.cta.link %}
                    <a href="{{ site.baseurl }}{{ page.mixed-media-banner.cta.link  }}">
                        <button>{{ page.mixed-media-banner.cta.text  }}</button>
                    </a>
                {% elsif page.mixed-media-banner.cta.email %}
                    <a href="{{ page.mixed-media-banner.cta.email  }}">
                        <button>{{ page.mixed-media-banner.cta.text  }}</button>
                    </a>
                {% endif %}
                
            </div>
        {% endif %}
    </div>
</section>