<section class="notice-banner" style="background-color:black; color:white;">
    <div class="notice-banner-content">
        {% if page.notice-banner.title %}
            <h2>{{ page.notice-banner.title }}</h2>
        {% endif %}
        <p> Please join our Outdoor and Virtual fitness classes Monday - Thursday evenings.</p>
        <p>View the schedule <a href="http://levelgroundmma.org/gym/">here</a> and jump in!</p>
        
        <p>We are currently preparing the gym to welcome you back for open workouts. Classes will resume in the gym in August.</p>
        
        <p>In addition to fitness, our Virtual Academy supports youth with:</p>
        <ul style="list-style-type:none;">
            <li> Online Academic Tutoring and College Preparation </li>
            <li> Online Job Programming </li>
        </ul>
        <h2> SUPPORT OUR COMMUNITY. <a href="http://levelgroundmma.org/give/">GIVE TODAY</a>.
    </div>
</section>
