<section class="notice-banner" style="background-color:black; color:white; box-sizing:unset;">
    <div class="notice-banner-content">
        {% if page.notice-banner.title %}
            <h2>{{ page.notice-banner.title }}</h2>
        {% endif %}
        <p>On October 5, we are reopening the gym for our community at limited capacity.</p>
        <div style="text-align:left;">
        <p>We have gone through extensive lengths to safely welcome back youth and families, and look forward to serving you once again safely in-person!</p>
        
        <p><b>Before visiting the gym, you MUST:</b></p>
        <ol>
            <li> Review our <a href="http://levelgroundmma.org/news/coming-back-to-the-gym-student-and-staff-expectations/">guidelines</a>. </li>
            <li> Complete the COVID-19 Attestation Form.</li>
            <li> New members MUST also fill out the Registration Form.</li>
        </ol>
        <p>You may find <a href="https://www.waiverking.com/linkpage/LevelGroundMixedMartialArts">Attestation and Registration Forms here</a>.</p>
        <p>We strongly encourage you to pre-register for classes and open gym use as spaces are limited. </p>
        <p>For those living with someone considered higher-risk, please attend “vulnerable populations” classes.</P>
        </div>
    <h2> <a href="http://levelgroundmma.org/gym/">VIEW THE SCHEDULE AND RESERVE YOUR SPOT</a></h2>
    <p>Planning to roll Jiu Jitsu? Either bring a household member, or <a href="https://docs.google.com/forms/d/e/1FAIpQLScMef3KSdxarHXBRakFyyR1yJ6Ps4gsuih_TBGop5MwlpU69g/viewform?usp=sf_link">sign up for a Buddy.</a></p>
    </div>
</section>
