.header-compact {
    left: 0;
    right: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $header-nav-z;
    .header-compact-nav {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        max-width: $max-row-width;
        text-align: center;
        box-shadow: $box-shadow2;
    }
    .header-compact-logo {
        background-color: $color-primary;
        cursor: pointer;
        display: block;
        height: 60px;
        min-width: 60px;
        width: 60px;
        img {
            display: block;
            height: auto;
            width: 100%;
        }
    }
    .header-compact-link {
        background-color: $color-white;
        display: flex;
        height: 60px;
        line-height: 60px;
        justify-content: center;
        position: relative;
        text-align: center;
        text-decoration: none;
        width: 100%;
        &:hover {
            background-color: $color-grey;
            color: $color-white;
        }
        &.active {
            border-top: 2px solid $color-primary;
            line-height: 58px;
        }
        &:last-of-type {
            background-color: $color-primary;
            color: $color-white;
            &:hover {
                background-color: $color-grey;
            }
        }
        @media only screen and (max-width: $max-mobile-width) {
            display: none;
        }
    }
}