.notice-banner {
    align-items: center;
    background-color: $color-black;
    text-color: $color-white;
    display: flex;
    flex-flow: column;
    float: left;
    padding: $spacer-lg 0;
    justify-content: center;
    max-height: $max-banner-height;
    text-align: center;
    width: 100%;

    .notice-banner-content {
        max-width: $content-container-max-width;
        @media only screen and (max-width: $max-mobile-width) {
            padding: $spacer-sm;
            width: 100%;
        }
    }
    h2 {
        margin: 0 0 1em 0;
    }
    h3, p {
        max-width: $content-container-max-width;
    }
}

